div#calendar-container > div, #calendar-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    height: 100%;
}

div.calendar-day {
    border: 1px solid gray;
    text-align: center;
}

#note-popup {
    display: block;
}

.active {
    background-color: lightblue;
}

ul {
    list-style-type: none;
}